body {
    background-color: wheat;
}

.item1 {grid-area: header;}
.item2 {grid-area: results;}
.item3 {grid-area: textbox;}
.item4 {grid-area: images;}
.item5 {grid-area: footer;}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header header header header header header header header'
    'results results images images images images images images images images images'
    'results results textbox textbox textbox textbox textbox textbox textbox textbox'
    'results results textbox textbox textbox textbox textbox textbox textbox textbox'
    'results results textbox textbox textbox textbox textbox textbox textbox textbox'
    'results results textbox textbox textbox textbox textbox textbox textbox textbox'
    'footer footer footer footer footer footer footer footer footer footer' ; 
    
gap: 10px;
background-color: aliceblue;
padding: 10px;}

.grid-container > div {
    background-color: blueviolet;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

/* 'header header header header header header header header header header'
    'results results images images images images images images images images images'
    'results results right right right right right right right right'
    'results results right right right right right right right right'
    'results results textbox textbox textbox textbox textbox textbox textbox textbox'
    'results results textbox textbox textbox textbox textbox textbox textbox textbox'
    'results results textbox textbox textbox textbox textbox textbox textbox textbox'
    'results results textbox textbox textbox textbox textbox textbox textbox textbox'
    'footer footer footer footer footer footer footer footer footer footer' ; */

