body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(207, 224, 218);
  color: rgb(46, 82, 61);
  display: block;
  margin-left: 70px;
  margin-right: 70px;
}

main {
  width: 1000px;
  margin: 3rem auto;
}

main > div:first-of-type {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

#logo {
  width: 100px;
}

h1 {
  line-height: 0.8;
  margin: 3rem 0 1rem;
}

section + div {
  background-color: brown;
  color: rgb(244, 236, 236);
  padding: 0.5rem 1rem;
  width: max-content;
  height: max-content;
  font-size: 0.8rem;
  margin: 1rem;
  border-radius: 0%;
  row-gap: 1em;
}

section img {
  width: 400px;
  max-height: 20rem;
  border: 5px solid;
  margin-right: 10px;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

section img:hover {
  border: 5px solid lightgray;
  cursor: pointer;
}

section + div:hover {
  cursor: pointer;
  border: 2px solid gray;
}

section {
  display: flex;
  flex-direction: row;
}

img {
  width: 460px;
  max-height: 26rem;
}